{% extends 'admin/base.html' %}


{% block title %}

SpotBook - Admin Dashboard

{% endblock %}


{% block body %}


<h1>Dashboard</h1>

<p>
    Welcome, Admin.
</p>


<h2>Parking System Overview</h2>

<div class="stats-grid">

    <div class="stat-box">
        <h2>0</h2>
        <p>Total Users</p>
    </div>

    <div class="stat-box">
        <h2>0</h2>
        <p>Total Locations</p>
    </div>

    <div class="stat-box">
        <h2>0</h2>
        <p>Total Slots</p>
    </div>

    <div class="stat-box">
        <h2>0</h2>
        <p>Available Slots</p>
    </div>

    <div class="stat-box">
        <h2>0</h2>
        <p>Reserved Slots</p>
    </div>

    <div class="stat-box">
        <h2>0</h2>
        <p>Occupied Slots</p>
    </div>

    <div class="stat-box">
        <h2>0</h2>
        <p>Total Bookings</p>
    </div>

</div>


<div class="card">

    <h2>Recent Bookings</h2>

    <p>
        No recent bookings.
    </p>

</div>


<div class="card">

    <h2>Current Parking Activity</h2>

    <p>
        No vehicles currently parked.
    </p>

</div>


{% endblock %}